*{
    margin:0;
    padding: 0;
    --header-footer-color: #525558;
    --hover-color: #759eff;
    --nav-font-size: 20px;
    --nav-icon-size: 30px;
    --secondary-color: rgba(242, 242, 242, 0.773);
}

a{
    text-decoration: none;
    color: aliceblue;
}

body{
    height: 100vh;
    padding: 0;
    margin: 0;
}

.header{
    background-color: var(--header-footer-color);
    height: 70px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    position: fixed;
    top:0;
    z-index: 100;
}

.nav .nav-item{
    display: inline-block;
    padding: 4px 6px 4px 6px;
    margin: 0px 10px 0px 10px;
    padding-right: 10;
    font-size: var(--nav-font-size);
    border-radius: 25px;

    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.nav .nav-item:hover{
    color:white;
    background-color: var(--hover-color);
}

.icons .icons-item{
    font-size: var(--nav-icon-size);
    margin: 0px 5px 0px 5px;

    transition-property: color;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.icons .icons-item:hover{
    color:#759eff
}
/* ----------------------------------------- */

.main{
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
}

/* ----------------------------------------- */

.footer{
    background-color: var(--header-footer-color);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer .nav, .footer .icons-item{
    margin: 10px 5px 10px 5px;
}

.footer h6{
    color:white;
    margin: 10px 0 10px 0;
}
